<!-- Child Template-->
{% extends "base.html" %}

{% block title %} Find Player {% endblock %}

{% block content %}
    <h1 id="landing">Landing Page</h1>    
        <div>
            <h3>Find Player Stats!<h3> 
                <form action="/stats/" method="post">
                <!-- do input limiting later -->
                <label for="name">Player name:</label>
                <input type="text" id="name" name="user-name" placeholder="enter user name" required/>

                <br>

                <label for="plat-select">Choose a platform:</label>
                <select name="plat" id="plat-select" required>
                    <option value="">Please choose an platform</option>
                    <option value="xbl">XBox One</option>
                    <option value="psn">Playstation</option>
                    <option value="pc">PC</option>
                </select>

                <button id="search-button" type="submit">Search for statistics!</button>
                </form>
        </div>
{% endblock %}

{% block nav %}
{% endblock %}